---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: coder
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: coder
  interval: 1h
  path: ./kubernetes/apps/developer/coder/app
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: developer
  wait: false
