---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
spec:
  chartRef:
    kind: OCIRepository
    name: longhorn
  interval: 1h
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    longhornManager:
      nodeSelector:
        longhorn-manager: "manager"
    longhornDriver:
      nodeSelector:
        longhorn-driver: "driver"
    longhornUI:
      nodeSelector:
        longhorn-ui: "ui"
    persistence:
      defaultDataLocality: best-effort
    defaultSettings:
      defaultDataPath: "/var/mnt/longhorn"
      replicaDiskSoftAntiAffinity: false
      createDefaultDiskLabeledNodes: true
      defaultDataLocality: best-effort
      defaultLonghornStaticStorageClass: longhorn
      defaultReplicaCount: "3"
      guaranteedEngineManagerCPU: "20"
      guaranteedReplicaManagerCPU: "20"
      nodeDownPodDeletionPolicy: delete-both-statefulset-and-deployment-pod
      orphanAutoDeletion: true
      replicaAutoBalance: best-effort
      storageMinimalAvailablePercentage: "1"
      storageReservedPercentageForDefaultDisk: "10"
    ingress:
      enabled: false